html {
    font-size: 20px;
}

body {
    box-sizing: border-box;
    margin: 0 0 2rem 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: rgba(0, 0, 0, 0.7);
    background: #f3f3f3;
}

.center {
    margin: 0 auto;
}

.stack-vertical {
    display: flex;
    flex-direction: column;
}

.stack-horizontal {
    display: flex;
    flex-direction: row;
}

.row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
}

.row .col-5 {
    grid-column-start: 5;
}

.row .col-9 {
    grid-column-start: 9;
}

.row .col-span-2 {
    grid-column-end: span 2;
}

.row .col-span-4 {
    grid-column-end: span 4;
}

.card {
    background: #ffffff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.7);
    border-radius: 3px;
}

.pos-anchor {
    position: relative;
}

.wait-for-load * {
    animation-play-state: paused !important;
    pointer-events: none;
}

.wait-for-load::before {
    content: 'Loading...';
    position: absolute;
    width: 10vw;
    height: 2rem;
    text-align: center;
    line-height: 2rem;
    left: calc(50% - 5vw);
    top: 50%;
}

h1 {
    text-align: center;
    font-size: 3rem;
    color: #f9b774;
}

h2 {
    margin: 1.5rem 3rem;
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
    margin: 1rem;
}

a {
    color: #435dad;
}

p {
    margin: 0;
    padding: 0;
}

header {
    min-height: 100vh;
    background: #ffffff;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
}

#avatar .picture {
    margin: 0 auto;
    background-image: url('./assets/avatar.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 20vw;
    height: 20vw;
    border-radius: 100%;
    animation: fade-in 1.5s;
}

#avatar p {
    height: fit-content;
    margin: auto 0;
    animation: fade-in 1.5s, fly-in 1s;
}

@media all and (max-width: 1190px) {
    #avatar {
        display: flex;
        flex-direction: column;
    }

    #avatar .picture {
        margin-bottom: 1rem;
    }

    #avatar p {
        width: 30vw;
        margin: 0 auto;
    }
}

@media all and (max-width: 600px) {
    #avatar p {
        width: 80vw;
        text-align: center;
    }
}

#social-links {
    margin-top: 2rem;
    margin-bottom: 2rem;
    animation: fly-in 1s;
}

#social-links span:not(:first-of-type) {
    margin-left: 1rem;
}

#social-links span i {
    vertical-align: middle;
    margin-right: 0.3rem;
}

@media all and (max-width: 790px) {
    #social-links {
        flex-direction: column;
    }

    #social-links span:not(:first-of-type) {
        margin-left: 0;
    }
}

#featured {
    width: 60vw;
    margin: 0 auto;
    min-height: 10vh;
    animation: fade-in 1.5s;
}

#featured .picture {
    background: url("https://secure.meetupstatic.com/photos/event/2/c/3/b/highres_490151323.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 25vw;
    min-height: calc(25vw * 9 / 16);
    border-radius: 3px 0 0 3px;
}

#featured p {
    height: fit-content;
    margin: auto 0;
    font-size: 1.2rem;
    padding: 1rem;
}

@media all and (max-width: 1010px) {
    #featured {
        flex-direction: column;
    }

    #featured .picture {
        min-width: 100%;
        min-height: 0;
        padding-top: calc(100% * 9 / 16);
        margin-right: 0;
        margin-bottom: 1.2rem;
    }
}

#latest-talk {
    width: 560px;
}

#latest-talk p {
    padding: 0 1rem 1rem 1rem;
}

@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fly-in {
    from { transform: translateX(-50px); }
    to { transform: translateX(0); }
}