.container {
    margin: 1rem;
}

.post figure {
    margin-top: 1rem;
}

.post figure figcaption {
    text-align: center;
}

.hero-image {
    max-height: 60vh;
}

.links ul {
    list-style: none;
    text-align: center;
}

@media (min-width: 55em) {
    .links ul {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
}

@media (min-width: 76em) {
    .container {
        width: 60vw;
        margin: 1rem auto;
    }
}

@media (min-width: 109em) {
    .container {
        width: 40vw;
    }
}
